doctype html
html
	head
		title Your CSS is hanging
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		//meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/yourcssishanging.css')
		link(rel='stylesheet', href='./css/vendor/reveal/theme/default.css', id="Theme")
		//link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		// Main app js
		script(src='./scripts/head.js')
		block head
	body

		block body

		section.yourcssishanging
			block glovalVars

			block content

		script(src='./scripts/yourcssishanging.js')