
$__blockName: 'btn';

$__btnHeight: 40px;
$__btnCornerRadius: 20px;


/*CACTUSPILOT:OPEN*/

/*MODULE:OPEN*//*
#{$__blockName}
*//*MODULE:CLOSE*/

/*DESC:OPEN*//*
This is a "#{$__blockName}" module.
*//*DESC:CLOSE*/

/*MARKUP:OPEN*//*
<div class="#{$__blockName}">
	Button Text
</div>
*//*MARKUP:CLOSE*/

/*CACTUSPILOT:CLOSE*/


@include block($__blockName) {
	@include fontSize(gamma, 0);
	@include border-radius($__btnCornerRadius, $__btnCornerRadius, $__btnCornerRadius, $__btnCornerRadius);
	background-color: #808080;
	color: #000;
	padding: 0px $__btnCornerRadius;
	height: $__btnHeight;
	line-height: $__btnHeight;
	font-family: $font_gudea;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&,* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	@include m(big) {
		@include fontSize(epsilon, 0);
		@include border-radius($__btnCornerRadius * 2, $__btnCornerRadius * 2, $__btnCornerRadius * 2, $__btnCornerRadius * 2);
		padding: 0px $__btnCornerRadius * 2;
		height: $__btnHeight * 2;
		line-height: $__btnHeight * 2;
	}

	// Themes
	@include m(orange) {
		background-color: $color_summerorrange;
		color: $color_white;
	}
	@include m(red) {
		background-color: red;
		color: $color_white;
	}
	@include m(blue) {
		background-color: blue;
		color: #fff;
	}
	@include m(black) {
		background-color: black;
		color: $color_white;
	}

}

