
$__blockName: 'container';
$__gutterWidth: 20px;

@include block($__blockName) {
	width: 100%;
	padding-right: $__gutterWidth;
	padding-left: $__gutterWidth;
	//min-width: $contentWidth + ($__gutterWidth * 2);
	@include onlyInDebug() {
		background-color: bisque;
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	&,* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	@include m(line) {
		border-bottom: 1px solid $color_lightgray;
		background-color: $color_white;
		padding-bottom: 10px;
	}
	@include m(nopadding) {
		padding-bottom: 0;
	}
	@include m(paddingtop) {
		padding-top: 10px;
	}
	@include e(inner) {
		position: relative;
		width: 100%;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		@include onlyInDebug() {
			background-color: gold;
		}
	}
	@include e(content) {
		width: $contentWidth;
		margin: 0 auto;
		@include onlyInDebug() {
			background-color: goldenrod;
		}
		@include m(line) {
			border-bottom: 1px solid $color_lightgray;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		@include m(full) {
			width: 100%;
		}
		@include mediaQueries(tablet){
			width: $contentWidth;
		};
		@include mediaQueries(mobile){
			width: 100%;
		};
	}
	// Media Queries (container)
	@include mediaQueries(tablet){
		//min-width: $contentWidth + ($__gutterWidth * 2);
	};
	@include mediaQueries(mobile){
		//min-width: $contentWidth + $__gutterWidth;
		//min-width: 100%;
	};
}

