
$__blockName: 'list';

@include block($__blockName) {
	display: block;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	&,* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	@include m(nomargin) {
		margin-bottom: 0;
	}
	@include e(headline) {
		@include fontSize(epsilon);
		font-family: $font_gudea;
		font-weight: bold;
		width: 100%;
	}
	@include e(item) {
		@include fontSize(delta);
		font-family: $font_gudea;
		font-weight: normal;
		width: 100%;
		background-repeat: no-repeat;
		background-position: left center;
		&:before {
			@include fontSize(eta);
			content: "\2022";
			font-family: $font_gudea;
			font-weight: bold;
			padding-right: 5px;
			color: $color_summerorrange;
		}
		@include m(nobullet) {
			&:before {
				display: none;
			}
		}
	}
	@include e(line) {
		display: block;
		width: 100%;
		padding: 5px 0 5px 15px;
		border-top: 1px solid $color_lightgray;

		display: table;
		vertical-align: middle;

		&:after {
			content: "";
			display: block;
			clear: both;
		}
		&:last-child {
			border-bottom: 1px solid $color_lightgray;
		}
	}
	@include e(innerleft) {
		display: table-cell;
		vertical-align: middle;
	}
	@include e(innerright) {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
}

