
$__blockName: 'prototype';

@include block($__blockName) {
	display: block;
	width: 100%;
	min-height: 100%;
	background-color: #333;
	color: #999;
	position: relative;

	text-align: center;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;

	&,* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	& & {
		background-color: #999;
		color: #333;
	}

	@include m(highlight) {
		background-color: #666;
	}
	@include e(name) {
		@include fontSize(iota);
		@include rotate(-30deg);
		display: block;
		color: inherit;
	}
}
