
$__blockName: 'query';


@include block($__blockName) {
	display: block;
	@include m(tablet mobile) {
		display: none;
	}
	@include mediaQueries(tablet){
		@include m(desktop) {
			display: none;
		}
		@include m(tablet) {
			display: block;
		}
	};
	@include mediaQueries(mobile){
		@include m(desktop) {
			display: none;
		}
		@include m(mobile) {
			display: block;
		}
	};
}

