div.teaser
	div.teaser__headline Widget headline
	div.teaser__img
		img(src="http://placehold.it/200x130")
	div.teaser__content
		p Bei ich-liebe-käse.de anmelden und schon können Sie sich die aktuellen Coupons für Géramont herunterladen und einlösen
	ul.teaser__list
		li.teaser__item
			a linkname
		li.teaser__item
			a linkname
		li.teaser__item
			a linkname