$extendPointList: () !global;
// Extend point list mixin
@mixin extendPoint($stringName) {
	//@content;
	@extend %#{$stringName} !optional;
	//@debug #{$stringName};
	$extendPointList: append($extendPointList,$stringName) !global;
}

$styleInjectorList: ();
@mixin styleInjector($stringName:null,$set:false) {
	@if $stringName != null {
		@if $set == true {

		}
		@else {
			@content;
		}
	}
}

$alterationList: () !global;
@mixin crossAlter($stringName) {
	@if $allowCrossAlter {
		$alterPoint: ();
		$alterPoint: append($alterPoint, $stringName);
		//$alterPoint: append($alterPoint, #{&}); // am I even using this ?
		& #{$stringName} {
			@content;
		}
		$alterationList: append($alterationList, $alterPoint) !global;
	}
}

/* OLD */
//@import "Suzuki"; 

/* Extend List */
@for $i from 1 through length($extendPointList) {
	//$extendPoint: nth($extendPointList,$i);
	//.color {
		//color: test;
		//content: "#{length($extendPointList)}";
		//content: "#{$extendPoint}";
	//} 
}        