extends ../master

block append head

block append body

	div.reveal
		div.slides
			section
				h1 Your CSS is hanging

			section
				h2 Code
				p test 2
				pre
					code
						| background-color: red;
						| color: #fff;

			section
				h1 reveal
				p test 3

block append content

