extends ../master

block append head

block append body

	div.reveal
		div.slides

			section
				h1 Your CSS is hanging


			section
				section
					h1 Intro
					p Bring in the horns
				section(data-background="red")
					h2 All is lost!
					img(src="http://stream1.gifsoup.com/view2/4267597/zoidberg-seppuku-o-s.gif", width="100%")
				section
					h2 Image of Suzuki main CSS file
					img(src="http://www.quickmeme.com/img/31/3192d8214b6b780f0bf8d6605b67661d5f181d00945cfb9d2b70a8658e0c9535.jpg")
					p For at opnå det bedst mulige resultat.
					p Handler det ikke om, ikke at fejle. Men at fejle hurtigst muligt.

			section
				h1 Goals
				p Standards?
				img(src="http://www.explainxkcd.com/wiki/images/6/60/standards.png")

			section
				section
					h1 Trends
					h2 in CSS development
				section
					h2 Dry CSS
					p Don't Repeat Yourself
					p At få delt css ind i logiske grupper for genbrugelighed.
					pre
						code(contenteditable)
							| %container { width:100%; clear:both; }
							| .header { @extend %container }
							| .content { @extend %container }
							| .footer { @extend %container }
					p Or
					pre
						code(contenteditable)
							| .container { width:100%; clear:both; }
					p Afhængig af level of access til Html

				section
					h2 HTML decoupling
					p Code against worst case
					p Rather than the ideal case
				section
					h2 SMACSS
					p Base
					p Layout
					p Modules
					p States
					p Themes
				section
					h2 Bem
					p The new kid on the Block (Element, Modifier)


			section
				section
					h1 Issues
					p Commence hair pulling!
				section
					h2 Nesting
					p CSS is not module friendly!
					p Not yet anyway.
					pre
						code(contenteditable)
							| .a .b { color: red; }
							| .c { color: blue; }
					pre
						code(contenteditable)
							|<div class="a">
							| <div class="b">
							|  <div class="c">
							|   <h1>Paint me!</h1>
							|  </div>
							| </div>
							|</div>
					p  h1 tagget bliver hvilken farve?
				section
					h2 Selector Race
					pre
						code(contenteditable)
							| h1 { color: pink }
							| .a .b { color: red; }
							| .c { color: blue; }
					pre
						code(contenteditable)
							|<div class="a">
							| <div class="b">
							|  <div class="c">
							|   <h1>Paint me!</h1>
							|  </div>
							| </div>
							|</div>
					p  h1 tagget bliver hvilken farve nu?
				section
					h2 Polutions
					p The toxication of loose css.
					p Nu er h1 tagget overskrevet ned igennem hele hirakiet.
					p Nu skal alle moduler reset color værdien til inherit.
					p Sådan starter selector racet.

				section
					h2 Tag selecting and Specificity selecting

				section
					h2 Namespacing, Modules & Selector Race, BEGIN!

				//section
					h2 To much?


			section
				section
					h1 Opportunities
					h2 with standards
				section
					h2 Styleguide generation
					a(href="./cactus/btn.html", target="_blank") Btn styleguide

			section
				section
					h1 Modules & Namespacing Fiddle
				section
					h2 Jsfiddle
					p 5
					iframe(width="100%", height="600", src="http://jsfiddle.net/33GVe/5", allowfullscreen="allowfullscreen", frameborder="0")
				section
					h2 Jsfiddle
					p 6
					iframe(width="100%", height="600", src="http://jsfiddle.net/33GVe/6", allowfullscreen="allowfullscreen", frameborder="0")
				section
					h2 Jsfiddle
					p 7
					iframe(width="100%", height="600", src="http://jsfiddle.net/33GVe/7", allowfullscreen="allowfullscreen", frameborder="0")


			//section
				section
					h1 Selector Racing

				section
					h2 When it just doens't add up
					iframe(width="100%", height="600", src="http://jsfiddle.net/6raxu/11", allowfullscreen="allowfullscreen", frameborder="0")

				section
					h2 H1 selecting with parent state (1/3)
					iframe(width="100%", height="600", src="http://jsfiddle.net/6raxu/9", allowfullscreen="allowfullscreen", frameborder="0")
				section
					h2 H1 selecting with parent state (2/3)
					iframe(width="100%", height="600", src="http://jsfiddle.net/6raxu/10", allowfullscreen="allowfullscreen", frameborder="0")
				section
					h2 H1 selecting with parent state (3/3)
					iframe(width="100%", height="600", src="http://jsfiddle.net/6raxu/11", allowfullscreen="allowfullscreen", frameborder="0")



			section
				section
					h1 Site encapsulation
				section
					h2 Id wrapper
					iframe(width="100%", height="600", src="http://jsfiddle.net/6raxu/4", allowfullscreen="allowfullscreen", frameborder="0")
				section
					h2 class wrapper
					iframe(width="100%", height="600", src="http://jsfiddle.net/6raxu/5", allowfullscreen="allowfullscreen", frameborder="0")


			section
				section
					h1 Tag selecting & Decoupling
				section
					h2 A simple list (1/2)
					iframe(width="100%", height="600", src="http://jsfiddle.net/2962s/1", allowfullscreen="allowfullscreen", frameborder="0")

				section
					h2 A simple list (2/2)
					iframe(width="100%", height="600", src="http://jsfiddle.net/2962s/3", allowfullscreen="allowfullscreen", frameborder="0")



block append content

